* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  font-family: ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: black;
  overflow-x: hidden;
}

#app {
  display:flex;
  flex-direction: column;
}


.snap-section {
  scroll-snap-align: start;
  min-height: 100vh;
}

/*
.n-config-provider {
  display: flex;
  flex-direction: column;
}
*/